.allregister{
    width:100%;
    
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color:var(--color3);
}

.rowCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:80px;
    width: 100%;
    padding:20px;
}

@media screen and (max-width:900px) {
    .rowCard{
        gap:10px;
    }
    .register{
        width:80%;
    }
  }