.allRegister{
    width:100%;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color:var(--color1);
    width: 80%;
    
}

.rowCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:50px;
    width: 100%;
}

@media screen and (max-width:800px) {
    .rowCard{
        gap:20px;
    }
    .register{
        width: 90%;
    }
  }
  @media screen and (max-width:500px) {
    .rowCard{
        gap:10px;
    }
    .register{
        padding:10px;
        width: 95%;
    }
  }