.transX {

  animation: translateXAxis 1.5s infinite alternate ease-in-out;
}

@keyframes translateXAxis {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}


.transYU {
  font-size: 60px;
  animation: translateYAxisUp 1s   ease-in-out;
}

@keyframes translateYAxisUp {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0px);
  }
}

.line{
  height: 1.5px;
  width: 80%;
  background-color: var(--color2);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  /*animation: colorChange 4s infinite alternate;*/
}

.transYD {

  animation: translateYAxisDown 1s   ease-in-out;
}

@keyframes translateYAxisDown {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateX(0px);
  }
}

.joinButton{

  background-color: var(--color2);
  color: var(--color4);
  border-radius: 3px;
  width: 35%;
  height: 37px;
  text-align: center;
  padding: 5px;  
  transition: transform 0.2s ease-in-out;
  /*animation: colorChange 4s infinite alternate;*/
}




.colorAni {
  transition: transform 0.2s ease-in-out;
  /*animation: colorShadow 4s infinite alternate;*/
}


@keyframes colorShadow {
  0% {
    text-shadow: 0px 0px 3px var(--color1)
  }
  50% {
    
    text-shadow: 0px 0px 5px var(--color1)
  }
  100% {
    text-shadow: 0px 0px 0px var(--color1)
  }
}


.joinButton:hover{
  
  transition: all 0.2s ease-in-out;
  transform: translateY(-7px) translatex(7px);
 
  text-shadow: 0px 0px 10px var(--color4);
}

