.allMEd {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--color2);
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(744deg, #176b871c 60%, #EEEEEE);
    border-top: 1px solid var(--color3);
    border-bottom: 1px solid var(--color3);
}

.Specifics {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.book {
    position: relative;
    border-radius: 17px;
    width: 250px;
    height: 330px;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    background-color: var(--color4);
    border: 1px solid var(--color2);
}

.inBook {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.inBook img {
    width: 30%;
}

.cover {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--color4);
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

p {
    font-size: 20px;
    font-weight: bolder;
    color: var(--color2);
}


svg {
    width: 30px;
    fill: var(--color2);
}